body {
    max-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
    margin-bottom: 300px;
    background-image: linear-gradient(to bottom right, rgb(6, 206, 241), rgb(245, 245, 242))
}

#container {
    display: flex;
    flex-direction: column;
    background-color: black;
    border-radius: 5px;
    width: 300px;
    height: 450px;
}

.row1, .row2, .row3, .row4, .row5{
    display: flex;
    }

.rowOuter {
    display: flex;
    flex-direction: column;
}

.rowMain {
    display: flex;
    flex-direction: column;
}

.calcBody {
    display: flex;
    flex-direction: row;
}

.display {
    background-color: antiquewhite;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    border-width: 1px;
    width: 294px;
    height: 73px;
    margin: 1px;
    padding: 1px;
    font-size: 58px;
}

button {
    margin: 1px;
}

.number, .operator, .decimal {
    height: 73px;
    width: 73px;

}

.equals, .clear {
    height: 148px;
    width: 73px;

}

.zero {
    height: 73px;
    width: 148px;

}

.failDisplay {
    font-size: large;
    color: rgb(206, 27, 27);

}